@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-style: normal;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
}

section {
    width: 50%;
    height: 100vh;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-bg {
    background-color: #FEFEE3
}

.green-bg {
    background-color: #2C6E49;
}

.white-text {
    color: #FEFEE3;
}

.green-text {
    color: #2C6E49;
}

.header {
    padding: 16px;

    display: flex;
    align-items: center;
    gap: 16px;
}

p {
    font-weight: 700;
    font-size: 24px;
}

.right-coin,
.left-coin {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.left-coin {
    margin-top: 20px;
}

.select-coin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

h1 {
    font-weight: 900;
    font-size: 40px;
}

select {
    border-radius: 12px;
    padding: 4px;
    font-weight: 900;
    font-size: 32px;
    outline: none;
}

select:hover {
    cursor: pointer;
    filter: opacity(0.7);
}

.input-coin {
    display: flex;
    align-items: center;
}

h2 {
    font-weight: 900;
    font-size: 40px;
}

input {
    width: 440px;
    height: 120px;

    font-weight: 900;
    font-size: 96px;
    text-align: right;

    border: none;
    text-decoration: underline;
    outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::placeholder {
    color: #2C6E49;
}

.white-placeholder input::placeholder {
    color: #FEFEE3;
}

footer {
    width: 100%;
    height: fit-content;
    margin-right: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1023px) {
    main {
        flex-direction: column;
    }

    section {
        width: 100vw;
        height: 50%;

        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .header,
    footer {
        justify-content: center;
        margin-right: 0;
    }

    footer {
        margin-bottom: 16px;
    }

    .header img {
        width: 24px;
        height: 24px;
    }

    p {
        font-weight: 700;
        font-size: 16px;
    }

    .right-coin {
        height: fit-content;
    }

    h1 {
        font-weight: 700;
        font-size: 20px;
    }

    select {
        font-size: 16px;
    }

    input {
        width: 160px;
        height: 80px;

        font-size: 40px;
        text-align: center;

    }

    h2 {
        font-weight: 800;
        font-size: 32px;
    }

}